<header>
  <h1><%= title %></h1>
</header>

<p>Upload an image to get a appreciation of your products value.</p>
<p>You'll get an alert in your feed when the appreciation is done!</p>
<form method="post" action="http://aprc.se:8042/appreciation" enctype="multipart/form-data" id="testform" class="form-grouped" data-validate>
  <fieldset>
    <legend>Image</legend>
    <div class="form-group row">
        <input type="file" name="images" id="imageUpload" class="btn btn-default imageUpload" required>
        <input type="hidden" name="accesstoken" value="<%= accessToken %>">
        <input type="hidden" name="storeid" value="<%= storeid %>">
        <input type="hidden" name="storedashboardurl" value="<%= storedashboardurl %>">
    </div>
    <div class="form-group row">
      <div id="test">
      </div>
    </div>
  </fieldset>
<!--
  <fieldset>
    <legend>Appreciations left</legend>
    <div class="form-group">
      <p>1 of 5</p>
      <span class="help-block">This your appreciations left this month. In ... days, they'll reset.</span>
    </div>
  </fieldset>
-->
  
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
